<div style="width: 70vw; margin: auto">
    <p-card>
        <p-table [value]="data" dataKey="number">
            <ng-template pTemplate="caption">
                <div class="table-header" style="height: 2rem;">
                    <span class="">Algorithms</span>

                    <button pButton class="float-right" icon="pi pi-plus" label="Add Row" (click)="addRow()"></button>

                    <button *ngIf="!editing" pButton class="float-right mr-2" (click)="editClick()" label="Edit"></button>
                    <button *ngIf="editing" pButton class="float-right mr-2" (click)="saveClick()" icon="pi pi-check" label="Save"></button>
                    <button *ngIf="editing" pButton class="p-button-secondary float-right mr-2" (click)="cancelClick()" icon="pi pi-times" label="Cancel"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <td style="width: 5rem" pSortableColumn="number">#<p-sortIcon field="number"></p-sortIcon></td>
                    <td style="width: 8rem" pSortableColumn="difficulty">Difficulty<p-sortIcon field="difficulty"></p-sortIcon></td>
                    <td style="width: 25rem" pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></td>
                    <td style="width: 4rem">Link</td>
                    <td style="width: 7rem">Geeksforgeeks</td>
                    <td style="width: 15rem">Tags</td>
                    <td>Algorithms</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="row" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td> 
                        <p-inputNumber *ngIf="editing" class="number-input" [(ngModel)]="row.number"></p-inputNumber>
                        <span *ngIf="!editing">{{row.number}}</span>
                    </td>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 8rem" [(ngModel)]="row.difficulty"/>
                        <span *ngIf="!editing">{{row.difficulty}}</span>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 25rem" [(ngModel)]="row.name"/>
                        <span *ngIf="!editing">{{row.name}}</span>
                    </td>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 4rem" [(ngModel)]="row.link"/>
                        <a *ngIf="row.link && !editing" style="text-decoration:none" [href]="row.link" target="_blank" rel="noopener noreferrer">
                            <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain" icon="pi pi-external-link"></button>
                        </a>
                    </td>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 7rem" [(ngModel)]="row.geeksforGeeks"/>
                        <a *ngIf="row.geeksforGeeks && !editing" style="text-decoration:none" [href]="row.geeksforGeeks" target="_blank" rel="noopener noreferrer">
                            <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain" icon="pi pi-external-link"></button>
                        </a>
                    </td>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 15rem" [(ngModel)]="row.tags"/>
                        <p-chip *ngIf="!editing" [label]="row.tags"></p-chip>
                    </td>
                    <td>
                        <input pInputText *ngIf="editing" style="width: 15rem" [(ngModel)]="row.algorithms"/>
                        <span *ngIf="!editing">{{row.algorithms}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-row>
                <tr>
                    <td colspan="8">
                        <textarea *ngIf="editing" class="flex" pInputTextarea [(ngModel)]="row.description" [autoResize]="true" [rows]="2" [cols]="170"></textarea>
                        <span *ngIf="!editing">{{ row.description }}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>